{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}CPR123 Enrollment Watch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Django app for viewings stats on CPR123 class enrollment.">
    <meta name="author" content="Paul Logston">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src="{% static "ewatch/js/bootstrap.min.js" %}"></script>
     <!-- Le styles -->
    <link href="{% static "ewatch/css/bootstrap.css" %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static "ewatch/css/bootstrap-responsive.css" %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/cpr123/">CPR123 Enrollment Watch</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/cpr123/scrape_details/">Scrape Details</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Specifics <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Tallies</li>
                  <li><a href="/cpr123/tally_classes">Classes</a></li>
                  <li><a href="/cpr123/tally_revenue">Revenue</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Distributions</li>
                  <li><a href="/cpr123/enrollment_by_zip">Enrollment by Zip Code</a></li>
                  <li><a href="/cpr123/distribution/registration_times/">Registration by Time</a></li>
                </ul>
              </li>
            </ul>


            <form class="navbar-form pull-right" method="POST" action="{% url 'login_page' %}">
              {% csrf_token %}
              {% if user.is_authenticated %}
              <a class="btn" href="{% url 'logout_page' %}">Log out</a>
              {% else %}
              <input class="span2" name="username" type="text" placeholder="Username">
              <input class="span2" name="password" type="password" placeholder="Password">
              {% if request.REQUEST.next %}
              <input type="hidden" name="next" value="{{ request.REQUEST.next }}" />
              {% else %}
              <input type="hidden" name="next" value="/cpr123/" />
              {% endif %}
              <button type="submit" value="login" class="btn">Sign in</button>
              {% endif %}
            </form>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {% block container %}{% endblock %}
      <footer>
        <p>&copy; Paul Logston 2013</p>
      </footer>
    </div>
    
    <script type="text/javascript">
    function get_class_coverage(){
        $.ajax({url: "/cpr123/ajax/class_coverage/",
                success: function(r){
                  width = Math.round((r.classes_scraped/r.total_classes)*100);             
                  $( "div#class_scrape_coverage div.bar" ).css( "width", width+"%");
                  $( "#class_coverage_percent" ).html(width);
                  $( "#classes_scraped" ).html(r.classes_scraped);
                }});
        }
    </script>

    <script type="text/javascript">
      $(document).ready(get_class_coverage);
    </script>
</body>
</html>