{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}CPR123 Enrollment Watch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Django app for viewings stats on CPR123 class enrollment.">
    <meta name="author" content="Paul Logston">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src="{% static "ewatch/js/bootstrap.min.js" %}"></script>
     <!-- Le styles -->
    <link href="{% static "ewatch/css/bootstrap.css" %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static "ewatch/css/bootstrap-responsive.css" %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% include "ewatch/nav.html" %}

    <div class="container">
        {% block container %}{% endblock %}
      <footer>
        <p>&copy; Paul Logston 2013</p>
      </footer>
    </div>
</body>
</html>