{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include "ewatch/head.html" %}
  <body>

    {% include "ewatch/nav.html" %}

    <div class="container">

      <h1>Revenue by Month and Location</h1>

      <p>
        This table is updated every 3 minutes M-F, 9am - 6pm. The totals do not reflect all of CPR123 histroy. The totals only reflect what has been collected from enrollware prior to the last collection time. These numbers are also constrained by the success of all registration and class scrapes. Details on the success of those scrapes can be found at the 'Scrape Details' link above.
      </p>

      <p>
        {{ most_common_zip }}
      </p>

      {{ mailing_zips }}
      
      <footer>
        <p>&copy; Paul Logston 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>