{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include "ewatch/head.html" %}
  <body>

    {% include "ewatch/nav.html" %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Watch Enrollment... </h1>
        <p>Check out statistics for enrollment in CPR123 classes. Things like the number of people enrolled in CPR123 classes last month, the number of people projected to enroll within a specific zip code this month, etc.</p>
        <p><a href="/cpr123/scrape_details/" class="btn btn-primary btn-large">Scrape Details &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Class Tallies</h2>
          <p>Find out about the enrollment trends for different courses at different locations. </p>
          <p><a class="btn" href="/cpr123/tally_classes/">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Revenue History</h2>
          <p>Find out about the money made at different lcoations for all months in CPR123 history. </p>
          <p><a class="btn" href="/cpr123/tally_revenue/">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Zip Code Heatmap</h2>
          <p>Veiw a heatmap of enrollment by zip code.</p>
          <p><a class="btn" href="/cpr123/enrollment_by_zip">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Paul Logston 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>