{% extends "ewatch/base.html" %}
{% load static from staticfiles %}

{% block container %}

<h1>Revenue by Month and Location</h1>

<p>
  This table is updated every 3 minutes M-F, 9am - 6pm. The totals do not reflect all of CPR123 histroy. The totals only reflect what has been collected from enrollware prior to the last collection time. These numbers are also constrained by the success of all registration and class scrapes. Details on the success of those scrapes can be found at the 'Scrape Details' link above.
</p>

<p>
  Last fetch: {{ last_fetch }}
  <br>
  Last class covered: {{ last_class }}
</p>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Year / Month</th>
      <th>Manhattan</th>
      <th>Long Island</th>
      <th>Kew Gardens</th>
    </tr>
  </thead>
  <tbody>
  {% for dt, locs in stats_by_month_and_loc %}
    <tr>
      <td>{{ dt|date:"Y / m" }}</td>    
    {% for rev in locs %}
      <td>
        {{ rev|floatformat:2 }}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}