# .gitignore

media/
static/
priv/

# PyCharm
.idea/

# Gonna keep the entire settings file private 
# until I find a better way to isolate private info
cpr123/settings.py

## DBs/backups
*.db
.DS_Store
*.bak

backup_db.sh

## South migrations
migrations/

## compiled
*.pyc
*.pyo

## gitpull
gitpull.sh
gitpull.py

## django admin stuff
static/admin/
templates/admin/
