# .gitignore

priv/

# Gonna keep the entire settings file private 
# until I find a better way to isolate private info
cpr123/settings.py

## sqlite3
*.db

## South migrations
migrations/

## compiled
*.pyc
*.pyo

## django admin stuff
static/admin/
templates/admin/
